<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Quarkus-Camel-MySQL</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        input[type=number] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            -webkit-transition: .5s;
            transition: .5s;
            outline: 0;
            font-family: 'Open Sans', serif;
        }

        body {
            background-color: rgb(238, 240, 247);
        }
    </style>
    <!-- Load AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript">
      var app = angular.module("CustomerManagement", []);

      //Controller Part
      app.controller("CustomerManagementController", function ($scope, $http) {

        //Initialize page with default data which is blank in this example
        $scope.customers = [];

        $scope.form = {
          id: -1,
          first_name: "",
          last_name: "",
          email: ""
        };

        //Now load the data from server
        _refreshPageData();

        //HTTP POST/PUT methods for add/edit fruits
        $scope.update = function () {
          var method = "";
          var url = "";
          var data = {};
          if ($scope.form.id == -1) {
            //Id is absent so add fruits - POST operation
            method = "POST";
            url = '/customers';
            data.first_name = $scope.form.first_name;
            data.last_name = $scope.form.last_name;
            data.email = $scope.form.email;
          } else {
            //If Id is present, it's edit operation - PUT operation
            method = "PUT";
            url = '/customers/' + $scope.form.id;
            data.first_name = $scope.form.name;
            data.last_name = $scope.form.last_name;
            data.email = $scope.form.email;
          }

          $http({
            method: method,
            url: url,
            data: angular.toJson(data),
            headers: {
              'Content-Type': 'application/json'
            }
          }).then(_success, _error);
        };

        //In case of edit fruits, populate form with fruit data
        $scope.edit = function (customer) {
          $scope.form.first_name = customer.first_name;
          $scope.form.last_name = customer.last_name;
          $scope.form.email = customer.email;
          $scope.form.id = customer.id;
        };

          /* Private Methods */
        //HTTP GET- get all fruits collection
        function _refreshPageData() {
          $http({
            method: 'GET',
            url: '/customers'
          }).then(function successCallback(response) {
            $scope.customers = response.data;
          }, function errorCallback(response) {
            console.log(response.statusText);
          });
        }

        function _success(response) {
          _refreshPageData();
          _clearForm()
        }

        function _error(response) {
          alert(response.data.message || response.statusText);
        }

        //Clear the form
        function _clearForm() {
          $scope.form.first_name = "";
          $scope.form.last_name = "";
          $scope.form.email = "";
          $scope.form.id = -1;
        }
      });
    </script>
</head>
<body ng-app="CustomerManagement" ng-controller="CustomerManagementController">

<div class="container mt-4">
    <h1>ITM - Quarkus - MySQL</h1>

    <h3>Add/Edit a customer</h3>
    <form ng-submit="update()">
        <div class="form-row align-items-center">
            <div class="col-auto">
              <label class="sr-only" for="inlineFormInput">First Name</label>
              <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Jane" ng-model="form.first_name">
            </div>
            <div class="col-auto">
              <label class="sr-only" for="inlineFormInputGroup">Last Name</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Last</div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Doe" ng-model="form.last_name">
              </div>
            </div>
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup">Email</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Email</div>
                  </div>
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="john@doe.com" ng-model="form.email">
            </div>
          </div>
        
        <input type="submit" class="btn btn-primary mb-2" value="Save"/>
    </form>

    <div class="container-fluid mt-2">
        <h3>Customer List</h3>

        <table class="table table-bordered">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="customer in customers">
                <th scope="row">{{ customer.id }}</th>
                <td>{{ customer.first_name }}</td>
                <td>{{ customer.last_name }}</td>
                <td>{{ customer.email }}</td>
                <td><a ng-click="edit( customer )" class="btn btn-success text-white">Edit</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
